.nashix {
  letter-spacing: -0.01em;
  margin-bottom: 1.25rem;
  margin-top: 1.25em;
  padding: 0;
  font-weight: 600;
  line-height: 1.1;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.hugetext {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.container_section__main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0 4rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(HSLA(0, 0%, 50%, 0.2)), color-stop(20rem, HSLA(0, 0%, 50%, 0)));
  background-image: -o-linear-gradient(top, HSLA(0, 0%, 50%, 0.2), HSLA(0, 0%, 50%, 0) 20rem);
  background-image: linear-gradient(to bottom, HSLA(0, 0%, 50%, 0.2), HSLA(0, 0%, 50%, 0) 20rem);
  text-align: center;
  min-height: 20rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-attachment: initial;
  width: 100vw;
}
.container>.container_section {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.container_section {
  padding: 4rem 0 2rem;
  padding-top: clamp(3rem, 7vh, 5rem);
  padding-bottom: clamp(1rem, 3vh, 3rem);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container_section p{
  margin: 0.5em 0;
}
.customerreview_list .customerreview_view {
  margin-bottom: 5rem;
  height: auto;
  padding-left: 4rem;
}
.customerreview_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 2rem;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 3rem;
  max-width: 80rem;
  -webkit-animation: reviewShow 500ms ease-out;
  animation: reviewShow 500ms ease-out;
}
.row {
  margin: 0 auto;
  padding: 0 calc(2rem + 1vw);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  position: relative;
}
.customerreview_view_user {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 25%;
}
.customerreview_view_user_name {
  position: relative;
  padding-top: 2.625rem;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}
.customerreview_view_user_desc {
  opacity: 0.85;
  font-size: 0.8125rem;
  margin-bottom: 2rem;
}
.customerreview_view_user_company img {
  max-height: 4rem;
  max-width: 7rem;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top left;
  object-position: top left;
}
.customerreview_view_user_details_item {
  font-size: .85em;
  margin-top: 1rem;
}
.largetext {
  font-size: 1.215em !important;
}
.customerreview_view_quote {
  margin: 0;
  padding-top: 2.5rem;
  padding-left: 2rem;
  /* background-image: url(../img/quote.svg); */
  background-size: auto 1.25rem;
  background-position: left top;
  background-repeat: no-repeat;
  font-size: 1rem;
  font-style: italic;
}
.customerreview_view_result_details {
  position: relative;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-left: 30px;
  background-color: #fff;
  -webkit-box-shadow: 12.202px 27.406px 39.01px 7.99px rgb(0 0 0 / 4%);
  box-shadow: 12.202px 27.406px 39.01px 7.99px rgb(0 0 0 / 4%);
  overflow: hidden;
}
.customerreview_view_result_details_before, .customerreview_view_result_details_after {
  padding: 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}
.customerreview_view_result_details li {
  list-style: none;
  padding-left: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  position: relative;
}
.customerreview_view_result_details_before li::before {
  content: "\02716";
  position: absolute;
  left: -1rem;
  color: #b83d3d;
}
.customerreview_view_result_details_after li::before {
  content: "\02714";
  position: absolute;
  left: -1rem;
  color: #6AADE3;
}
.customerreview_view_result_details_before_title {
  color: #b83d3d;
}
.customerreview_view_result_details_after_title {
  color: #6AADE3;
}
.customerreview_view_result_details_line {
  background-image: url(https://www.unicraft.org/style/img/review-case-line.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 34%;
  height: 0.5rem;
  position: absolute;
  left: 15%;
  top: 2.8rem;
}
.button_accent.button_bordered {
  color: #6AADE3 !important;
  background-color: transparent !important;
  border-color: #6AADE3;
  background-image: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #4e9ede;
}
.button_accent.button_bordered:hover {
  color: #80b9e7 !important;
  border: 1px solid #80b9e7;
}
.smalltext {
  font-size: .85em !important;
}
.button_accent.button_bordered:hover {
  color: #80b9e7 !important;
  border: 1px solid #80b9e7;
}